/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

button {
  font-family: sans-serif;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  gap: 10px;

}

#navbar {
  justify-items: center;
}

#nav-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}



button.project-nav-button,
#show-all-tasks {
  margin: 5px;
  font-size: 1.2rem;
}

.delete-project-button {
  background-color: #FFC0CB;
  border: solid 1px red;
  font-family: monospace;
}

#display {
  justify-items: center;
}

#new-task-input-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.input-field {
  margin: 5px;
}

#task-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-family:'Courier New', Courier, monospace;
  width: 90%;
}

.task-name {
  
  font-size: 1.5rem;
  font-weight: 600;
}

.task-name:hover {
  font-style: italic;
  cursor: pointer;
}

p {
  font-size: 1rem;
  font-weight: 100;
}

.class-name {
  align-items: left;
}

.content-div {
  display: block;
  margin-left: 1rem;
}

.content-div.content-hidden {
  display: none;
}

.overdue {
  color: red;
}